body{font-family: "Poetsen One", olor: blue;sans-serif;
text-decoration: none;}
html,body{
    height: 100%;  
    text-decoration: none;}
    aside#left{ float: left;width: 15%; height: 70%;}
    section{float: left;width: 60%; height: 70%;}
    aside#right{float: right; width: 22%; height: 70%;}
    footer{clear: both;}
    
h1> a{ color: olive; text-shadow: 5px 5px 5px gray;
    text-decoration: none;}

p:hover{background-color: skyblue;
text-decoration: underline;}
h3{text-align: center;}
div{text-align: justify;
text-transform: uppercase;
column-gap: 40px;
column-count: 2;
column-rule: 4px solid skyblue;
letter-spacing: 2px;

}
